@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #5997c1;
    font-family: "Roboto", Arial, sans-serif;
  }
  
  section {
    padding-top: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 10px 0;
    color: white;
  }
  
  form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: #5997c1;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #5997c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #5997c1;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #5997c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }

    /* Animações */
  form {
    animation-name: fade;
    animation-name: move;
    animation-duration: 0.5s;
    }


    h1 {
        animation-name: fade;
        animation-duration: 0.7s;
    }

    /*FORM FADE*/
  @keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
  }

     /*MOVIMENTO*/
  @keyframes move {
    from {
        transform: translateY(-35%);
    }
    to {
        transform: translateY(0%);
    }
  }

  /* Fazer o form sumir */
  .form-hide {
    animation: down 500ms forwards;
  }
  
  @keyframes down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh);
    }
  }

  /* FORM NO-NO */
form.validate-error {
    animation: nono 200ms linear, fade paused;
    animation-iteration-count: 2;
  }
  
  @keyframes nono {
    0%,
    100% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-15%);
    }
    70% {
      transform: translateX(15%);
    }
  }

  /* squares */
body {
    overflow: hidden;
  }
  .squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite alternate;
  }
  
  @keyframes up {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(-800px) rotate(960deg);
    }
  }